@import "../LoginScreen/LoginScreen.css";

.whatsapp-success-box {
    background-color: rgba(29, 170, 97, 0.1);
    border-left: 4px solid var(--detail-color-primary);
    color: var(--detail-color-primary);
    padding: 12px;
    border-radius: 3px;
    font-size: 13px;
    margin-bottom: 20px;
    text-align: left;
}