:root {
    --error-color: #f15c5c;
}

.contact-list-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
}

.no-contacts-found {
    margin: 10px 0px 10px 40px;
    font-size: 14px;
    color: var(--font-color-dark-mode-secondary);
}

.status-notification-box {
    margin: 20px auto;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 13px;
    text-align: center;
    background-color: #202c33;
    color: #8696a0;
    max-width: 90%;
}

.status-notification-box.error {
    background-color: transparent;
    color: var(--error-color);
    border: none;
    padding: 0;
    margin: 10px auto;
}

.new-chat-option {
    cursor: pointer;
}

.new-chat-option.loading {
    cursor: default;
}

.new-chat-avatar-icon {
    background: none;
    border-radius: 50%;
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}